<ion-view view-title="">
	<ion-nav-buttons side="right">
	  <button class="button button-clear">
	  </button>
	</ion-nav-buttons>
    <ion-content class="app_more" overflow-scroll="false">
		<ion-list>
            <h4> Profile Setting</h4>
            <ion-item>
                <a href="#" class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i> Edit Profile
                </a>
            </ion-item>
        </ion-list>
        <ion-list>
            <h4>Notifications Setting</h4>
            <ion-item>
                <label class="toggle" style="position: absolute;top: 5px; right: 16px;">
                    <input type="checkbox" name="" value="">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                Notification
            </ion-item>
            <ion-item>
                <a href="#" class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i> Share app
                </a>
            </ion-item>
        </ion-list>
        <ion-list>
            <h4>More</h4>
            <ion-item>
                <a href="#" class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i> Terms of Service
                </a>
            </ion-item>
            <ion-item>
                <a href="#" class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i> Privacy Policy
                </a>
            </ion-item>
            <ion-item class="item-icon-right">
                <a ui-sref="app.about">
                    <i class="icon ion-ios-arrow-right"></i> About
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>