<ion-view view-title="注册">
  <ion-content class="app_login" overflow-scroll="false">
        <div class="logo">
          <img src="css/Images/luoxiaohei.jpg" alt="">
        </div>
        <form id="registerForm">
          <label class="item item-input">
                <input type="text" name="" value="" placeholder="User name">
            </label>
            <label class="item item-input">
                <input type="text" name="" value="" placeholder="Email">
            </label>
            <label class="item item-input item-icon-right">
                <i class="icon ion-ios-eye-outline"></i>
                <input type="password" name="" value="" placeholder="password">
            </label>
            <input type="button" class="" value="Sign up">
        </form>
        <div class="bottomA">
            <a href="#/app/login">
                Already have an account? SIGN IN
            </a>
        </div>
  </ion-content>
</ion-view>