<ion-view view-title="Find Doctor">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-left" ui-sref="app_home">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear">
        </button>
    </ion-nav-buttons>
    <ion-content class="app_find">
        <ion-list class="search-wrap">
            <ion-item class="search">
                <label class="item-input">
                    <i class="icon ion-ios-search-strong placeholder-ion"></i>
                    <input type="text" placeholder="Find Doctor, Clinics, Specialist">
                </label>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <div class="cardImg">
                    <img src="css/Images/luoxiaohei.jpg" alt="" ui-sref="app_doctor_detail">
                </div>
                <div class="cardInfo">
                    <div class="row">
                        <div class="col col-67">
                            <div class="cardName">
                                <p>DR Vijay Shah</p>
                            </div>
                            <div>
                                <span class="icon ion-ios-heart">56</span>
                                <span class="icon ion-ios-chatbubble">102</span>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="cardCategory">
                                <p>Audiologists</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="cardImg">
                    <img src="css/Images/luoxiaohei.jpg" alt="" ui-sref="app_doctor_detail">
                </div>
                <div class="cardInfo">
                    <div class="row">
                        <div class="col col-67">
                            <div class="cardName">
                                <p>DR Vijay Shah</p>
                            </div>
                            <div>
                                <span class="icon ion-ios-heart">56</span>
                                <span class="icon ion-ios-chatbubble">102</span>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="cardCategory">
                                <p>Audiologists</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="cardImg">
                    <img src="css/Images/luoxiaohei.jpg" alt="" ui-sref="app_doctor_detail">
                </div>
                <div class="cardInfo">
                    <div class="row">
                        <div class="col col-67">
                            <div class="cardName">
                                <p>DR Vijay Shah</p>
                            </div>
                            <div>
                                <span class="icon ion-ios-heart">56</span>
                                <span class="icon ion-ios-chatbubble">102</span>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="cardCategory">
                                <p>Audiologists</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="cardImg">
                    <img src="css/Images/luoxiaohei.jpg" alt="" ui-sref="app_doctor_detail">
                </div>
                <div class="cardInfo">
                    <div class="row">
                        <div class="col col-67">
                            <div class="cardName">
                                <p>DR Vijay Shah</p>
                            </div>
                            <div>
                                <span class="icon ion-ios-heart">56</span>
                                <span class="icon ion-ios-chatbubble">102</span>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="cardCategory">
                                <p>Audiologists</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="cardImg">
                    <img src="css/Images/luoxiaohei.jpg" alt="" ui-sref="app_doctor_detail">
                </div>
                <div class="cardInfo">
                    <div class="row">
                        <div class="col col-67">
                            <div class="cardName">
                                <p>DR Vijay Shah</p>
                            </div>
                            <div>
                                <span class="icon ion-ios-heart">56</span>
                                <span class="icon ion-ios-chatbubble">102</span>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="cardCategory">
                                <p>Audiologists</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
