<ion-view view-title="Register">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-left" ui-sref="app_login"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear">
        </button>
    </ion-nav-buttons>
    <ion-content class="app_register">
        <div class="logo">
            <img src="css/Images/luoxiaohei.jpg" alt="">
        </div>
        <form id="registerForm" class="list list-inset">
            <label class="item item-input">
                <input type="text" name="" value="" placeholder="User name">
            </label>
            <label class="item item-input">
                <input type="text" name="" value="" placeholder="Email">
            </label>
            <label class="item item-input item-icon-right">
                <i class="icon ion-ios-eye-outline"></i>
                <input type="password" name="" value="" placeholder="password">
            </label>
            <input type="button" class="" value="Sign up">
        </form>
        <div class="bottomA">
            <a href="#" ui-sref="app_login">
                Already have an account? SIGN IN
            </a>
        </div>
    </ion-content>
</ion-view>
