<ion-view view-title="Doctor Detail">
    <ion-nav-buttons side="left">
      <a class="button button-clear icon ion-ios-arrow-left" ui-sref="app_home" style="color: #fff;">
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-ios-chatbubble-outline" ui-sref="app_dialog">
        </button>
    </ion-nav-buttons>
    <ion-content class="app_doctor_detail">
        <div class="detailImg">
            <img src="css/Images/luoxiaohei.jpg" alt="">
        </div>
        <ion-list>
            <ion-item>
                <h3>Biography:</h3>
                <p>
                    there are different types of doctors and what they do depends on their filed of specialty. If you are a budding doctor and want to know more about the career options related to types of doctors and what they do, then the following article will prove to be a useful read...
                </p>
            </ion-item>
            <ion-item>
                <h3>Special Interest:</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </ion-item>
            <ion-item>
				<h3>Current Appointment:</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </ion-item>
        </ion-list>
        <div class="detailButton">
        	<a href="#" ui-sref="app_appointment">Book an Appointment</a>
        </div>
    </ion-content>
</ion-view>
