<ion-view view-title=" " style="background-color: #0ebbf3;">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" ui-sref="app_home">
        </button>
    </ion-nav-buttons>
    <ion-content class="app_login" scroll="false">
        <div class="logo">
            <img src="css/Images/luoxiaohei.jpg" alt="">
        </div>
        <form id="loginForm" class="list list-inset">
            <label class="item item-input">
                <input type="text" name="" value="" placeholder="User name or email">
            </label>
            <label class="item item-input">
                <input type="password" name="" value="" placeholder="password">
            </label>
            <div class="forgetPwd">
                <a href="#">Forget your password?</a>
            </div>
            <input type="button" name="" value="Sign in">
        </form>
        <div class="fastLogin">
            <p>or</p>
            <ul class="row">
                <li class="col">
                    <a href="#" class="icon ion-social-facebook"></a>
                </li>
                <li class="col">
                    <a href="#" class="icon ion-social-twitter"></a>
                </li>
                <li class="col">
                    <a href="#" class="icon ion-social-googleplus"></a>
                </li>
            </ul>
        </div>
        <div class="bottomA">
            <a href="#" ui-sref="app_register">
                New user? SIGN UP
            </a>
        </div>
    </ion-content>
</ion-view>
